.movie-view {
  margin: auto;
  width: 50%;
}

body {
  background-color: ghostwhite;
  
}

.movie-view-card{
 padding-top: 30px;
}

.movie-poster {
  width: 40%;
  margin: 10px auto;
}

.label-title {
  font-size: 35px;
  padding-left: 19px;

}

.label-body {
  font-size: 16px;
}